.container {
  width: 100%;
  padding: 3.2rem 4.8rem;
  font-family: 'Source Code Pro', monospace;
}

.container main h1,
.container main h2,
.container main h3 {
  text-transform: uppercase;
  font-style: italic;
}

.container main a {
  color: black;
  background-color: yellow;
}
