/* General Container Styles */

.container {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  padding: 3.2rem 4.8rem;
  font-family: 'Source Code Pro', monospace;
}

@media (max-width: 770px) {
  .container {
    padding: 1.5rem;
  }
}

.container--index {
  display: flex;
  justify-content: center;
}

.container--page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 4rem;
}

@media (max-width: 770px) {
  .container--page {
    grid-template-columns: auto;
  }
}

.container--page main {
  max-height: 100%;
  overflow: auto;
  padding-right: 10%;
}

@media (max-width: 770px) {
  .container--page main {
    padding-right: 0;
  }
}

.container h2,
.container h3 {
  text-transform: uppercase;
}

.container h2 {
  font-style: italic;
}

.container main p {
  line-height: 175%;
}

.container main a {
  color: black;
  background-color: yellow;
}

/* Sidebar Styles */

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
}

/* Hide sidebar on small screens */

@media (max-width: 770px) {
  .sidebar {
    display: none;
  }
}

.sidebar__img {
  width: 6.5rem;
  height: 6.5rem;
  border: 4px solid black;
  border-radius: 150px;
  box-shadow: -6px -4px yellow;
  transition: all 0.25s ease;
}

.sidebar__img:hover {
  box-shadow: -8px -6px yellow;
}

.sidebar__title a {
  color: black;
  text-decoration: none;
  text-shadow: -2px -4px yellow;
  transition: all 0.25s ease;
}

.sidebar__title a:hover {
  text-shadow: -3px -5px yellow;
}

.sidebar__nav ul {
  padding: 0;
  list-style-type: none;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__nav ul li {
  margin: 0.25rem 0;
  transform: scale(1);
  transform-origin: left center;
  transition: all 0.25s ease;
}

.sidebar__nav ul li:hover {
  transform: scale(1.1);
}

.sidebar__nav ul a {
  color: black;
}

.sidebar__nav ul a:hover {
  background-color: yellow;
}
