/* Mobile Navbar Styles */

.navbar {
  display: none;
}

@media (max-width: 770px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.25rem;
  }
}

/* Menu Button and Toggle */

.menuBtn {
  display: inline-block;
  height: 0.125rem;
  width: 1.5rem;
  background-color: black;
  position: relative;
  transition: all 0.25s ease;
  z-index: 9999;
}

.menuBtn::before,
.menuBtn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.25s ease;
}

.menuBtn::before {
  top: -0.5rem;
  transform-origin: left center;
}

.menuBtn::after {
  top: 0.5rem;
  transform-origin: left center;
}

.menuToggle {
  display: none;
}

/* Title */

.title {
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: -2px -2px yellow;
  z-index: 1;
}

.title a {
  text-decoration: none;
}

/* (Hamburger) Menu */

.menu {
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.9);
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}

@media (max-width: 770px) {
  .menu {
    padding: 4rem;
  }
}

@media (max-width: 426px) {
  .menu {
    padding: 2.25rem;
  }
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-style: italic;
}

.menu ul li {
  margin: 2rem 0;
}

.menu ul li a {
  color: black;
}

/* Toggle Logic and Styling */

.menuToggle:checked + .menuBtn {
  background-color: transparent;
}

.menuToggle:checked + .menuBtn::before {
  transform: rotate(45deg);
  width: 94%;
}

.menuToggle:checked + .menuBtn::after {
  transform: rotate(-45deg);
  width: 94%;
}

.menuToggle:checked ~ .menu {
  left: 0;
}
